<header class="container-fluid">
  <nav role="navigation" class="row">
    <div class="col-auto align-self-end mr-3">
      <div class="row justify-content-start">
        <a href="{{ '/' | relative_url }}" class="blog-title">{{ site.title }}</a>
      </div>
    </div>
    <div class="col align-self-end">
      <div class="row justify-content-end">
        <ul class="menu-list">
          <li class="d-inline text-muted">
            <a href="{{ '/index' | relative_url }}">[Home]</a>
          </li> 
          <li class="d-inline text-muted">
            <a href="{{ '/cloud' | relative_url }}">[Cloud DE]</a>
          </li>
          <li class="d-inline text-muted">
            <a href="{{ '/sparkafka' | relative_url }}">[Spark/Kafka]</a>
          </li> 
          <li class="d-inline text-muted">
            <a href="{{ '/basics' | relative_url }}">[Basics]</a>
          </li> 
          <li class="d-inline text-muted">
            <a href="{{ '/about' | relative_url }}">[About]</a>
          </li>
          <li class="d-inline text-muted">
            <a href="{{ '/tags' | relative_url }}">[Tags]</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
